* {
    color: green;
    font-family: 'Segoe UI';
}

.card {
    border: 1px solid;
    width: 200px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.container {
    padding: 2px 16px;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 10px;
}

